<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CCamera.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A1FAC5871E30D76C002D928C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1FAC59E1E30D76D002D928C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1FAC5A91E30D76D002D928C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
